body {
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-color: black;
  --second-color: rgb(121, 104, 104);
  --third-color: #573939;
  --pricecolor: #c9410c;
}
.wrapper {
  display: grid;
  background-color: antiquewhite;
  height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2,1fr);
}

.maincart {

 display:flex;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 220px;
  width: 320px;
  margin: 5rem;
  background-color: rgb(248, 248, 248);
  border-radius: 1rem;
  transition: all ease 0.2s;
  cursor: pointer;
}

.cart:hover {
  transform: scale(1.2);
  border: 3px solid var(--pricecolor);
  box-shadow: 1px 1px 10px var(--pricecolor);
}

.text {
  display: inline-block;
  font-weight: bold;
  width: 100%;
  padding-left: 5rem;

  color: var(--pricecolor);
}

.cake {
  align-items: center;
  width: 50%;
  mix-blend-mode: multiply;
}

.adding {
  display: inline-block;
  color: var(--second-color);
}

.cart2 {
    display: grid;
}
/*
.maincart2 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 520px;
    width: 320px;
    margin: 5rem;
    background-color: rgb(248, 248, 248);
    border-radius: 1rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all ease 0.2s;
    cursor: pointer;

}*/

@media screen and (max-width: 400px) {

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
   /* "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"*/
    "aside";
  }

}

